/* Media Queries */
@media screen and (max-width: 999px) {

	#skipTo {
		display: block;
		}
	
	header nav, #main, aside {
		float: left;
		clear: left;
		margin: 0 0 10px; 
		width: 50%;
		}	
		header nav li {
			margin: 0;
			background: #efefef;
			display: block;
			margin-bottom: 3px;
			}
			header nav a {
				display: block;
				padding: 10px;
				text-align: center;
				}			
	body{
		float:center;
		background-size: auto;
	}
	footer{
		float:bottom;
		bottom: 35vh;
	}
	
	footer a{
		top: 6vh;
		margin-left: 6%;
	}
}

header,footer,section{
	display: block;
}

body {
	background-image: url(/img/background2.jpg);
	background-position: center;
	background-repeat: round;
	position: relative;
}

footer {
	position: relative;
	width:auto;
	height: auto;
	margin-top: 25%;
}

footer .aboutus {
	position: relative;
}
footer .github {
	position: relative;
}

footer a {
		position: relative;
		top: 20vh;
		margin-left: 16%;
		color: white;
}
a {
	text-decoration: none;
	border-bottom: 1px solid #bc9d88;
	z-index: 99999;
}
a:hover,
a:focus {
	border-bottom: 1px dashed #bc9d88;
	z-index: 99999;
}
figure { 
	display: inline-block; 
}
.sread {
	position: absolute;
	left:-9999px;
}
.cursive {
	font-family: 'Mr Dafoe', cursive;
}
.center {
	text-align: center;
}

th{
	border-style: solid;
	border-color: darkgray;
	text-align: center;
}
.news {
	position: absolute;
	margin-left: auto;
	color: white;
	border-style: outset;
	width: auto;
	height: auto;
	border-color: white;
	text-align: center;
	background-color: gray;
	margin-top: 9%;
	left: 25%
}